body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(255, 182, 182);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #b6b5b5;
}

th {
  background-color: #b2b2b2;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #94d5fa;
  color: rgb(0, 0, 0);
  border: 10px black;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;align-items: center;
  margin-top: 10px;
  margin-left: 40px;
}

button:hover {
  background-color: #3183da;
}


